mixin ArticleColumn(article)
  .col.six
    a(href=article.path)
      h2 #{article.title}
    p.Article-date= simpleDate(article.date)
    .Article-contents!= article.excerpt

mixin Subscriber
  form.Subscriber
    h4 Get new articles by email
    input(name='email' placeholder='enter your email address')
    a.Button Subscribe
      span.Button-sub (it's free!)

mixin PrevNext(article)
  if article.next || article.previous
    section.Recent
      if article.next
        h4 Previous Article
          a(href='/' + article.next.path)= article.next.title
      if article.previous
        h4 Next Article
          a(href='/' + article.previous.path)= article.previous.title

mixin Recent
  section.Recent
    h4 Recent Articles
    each article in collections.articles.slice(0, 3)
      a(href='/' + article.path) #{article.title}

- function pairUp(list) {
-   return list.reduce(function(memo, article, i) {
-     if (i % 2 === 0) memo.push([article, false]);
-     else memo[memo.length - 1][1] = article;
-     return memo;
-   }, []);
- }

- function simpleDate(date) {
  - if (!date) return '';
  - var month = ['Jan', 'Feb', 'March', 'April', 'May', 'June', 'July', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec'][date.getMonth()];
  - return [date.getDate() + 1, month, date.getFullYear()].join(' ');
- }
