include _lib

mixin articleColumn(article)
  .col.six
    a(href=article.path)
      h2 #{article.title}
    p.Article-date= simpleDate(article.date)
    .Article-contents!= article.excerpt

doctype html
html
  head
    title= title
    meta(name='description', content= description)
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
    link(rel='stylesheet' type='text/css' href='styles/global.css')
    link(rel='stylesheet' type='text/css' href='styles/grid.css')
    link(rel='stylesheet' href='http://yandex.st/highlightjs/8.0/styles/monokai_sublime.min.css')
  body
    header.Header
      .row
        h1.Header-logo Playful
          span JS
      .row
        .col.two.center
          .Header-avatar
        .col.ten
          .Header-contents!= contents
          .Header-actions
            span Want a playful session at your conference?&nbsp;
            span Need help with a node.js or HTML5 project?&nbsp;
            a(href='mailto:hunter@hunterloftis.com') Email me!

    .row.Article-list
      .col.nine
        each pair in pairUp(collections.articles)
          .row
            +articleColumn(pair[0])
            +articleColumn(pair[1])

      .col.three
        include _nav

    script(src='http://yandex.st/highlightjs/8.0/highlight.min.js')
    script hljs.initHighlightingOnLoad();
