doctype html
html
  head
    title= title
    meta(name='description', content= description)
    link(rel='stylesheet' type='text/css' href='styles/global.css')
    link(rel='stylesheet' type='text/css' href='styles/grid.css')
  body
    header.Header
      .row
        h1.Header-logo PlayfulJS
      .row
        .col.two.center
          .Header-avatar
        .col.ten
          .Header-contents!= contents
          .Header-actions
            span Want a playful session at your conference?&nbsp;
            span Need help with a node.js or HTML5 project?&nbsp;
            a(href='mailto:hunter@hunterloftis.com') Email me!

    .row
      .col.nine
        each article in collections.articles
          h2 #{article.title}
          != article.excerpt

      .col.three
        form.Subscriber
          h4 Get new articles by email
          input(name='email' placeholder='enter your email address')
          a.Button Subscribe
            span.Button-sub (it's free!)
        section.RecentArticles
          h4 Recent Articles
          each article in collections.articles
            a(href=article.url) #{article.title}
